name: Track-Usage
    
on:
  schedule:
    - cron: "47 1 * * *" #runs at 01:40 UTC everyday

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - name: install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install selenium
            pip install webdriver_manager
      - name: execute py script # run the run.py to get the latest data
        run: |
          python getNetlifyFuncUsage.py
        env:
          EMAIL: ${{ secrets.EMAIL }} # if run.py requires passwords..etc, set it as secrets
          PASSWORD: ${{ secrets.PASSWORD }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
